{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
	<div class="calculator">
        <div class="display" id="output">
            0
        </div>
        <div class="button">
            <button>9</button>
            <button>8</button>
            <button>7</button>
            <button>6</button>
            <button>5</button>
            <button>4</button>
            <button>3</button>
            <button>2</button>
            <button>1</button>
            <button>0</button>
            <button>.</button>
        </div>
        <div class="button-2">
            <button>+</button>
            <button>-</button>
            <button>*</button>
            <button>/</button>
        </div>
        <div class="button-3">
            <button>=</button>
            <button>c</button>
        </div>
    </div>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}