
main {
	background: rgba(36, 36, 36, 1);
	padding: 16px;
	width: 350px;
	border-radius: 8px;
	margin: 0 auto;
}

button {
	padding: 6px;
	background: white;
	font-size: 20px;
}

.calculator {
	display: grid;
	gap: 24px;
}

.button {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 12px;
}

.button-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
}

.button-3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
}

.display {
	background: gray;
	padding: 14px;
	text-align: end;
	height: 50px;
	color: #fff;
}
